// Login/Register forms
.login-register {
  width: 600px;
  // margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.formInput {
  width: 300px;

  .title {
    margin: 10px 0;
  }
}
.name{
  background: -webkit-linear-gradient( right, #34CFF9, #3366FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

//DesignLogin.js
.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #a8cccc;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;

  .leftContainer{
    

    .tabContainer{
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;

      .tabs{
        width: 400px; 

        .tab{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        }
      }
    }
  }
  .rightContainer img{
    width: 100%;
  }
}
@media  (max-width: 980px) {
  .rightContainer{
      display: none;
  }
}
.ant-tabs-tab{
  display: flex;
justify-content: center;
align-items: center;
}
.ant-tabs-tab.ant-tabs-tab{ 
  width: 184px;
  text-align: center;
}
.ant-tabs-tab.ant-tabs-tab-active{ 
  width: 184px;
  text-align: center;

}
